@charset "utf-8";
/*-------------------------------------------------------------------
	파일정의 : layout
	작성날짜 : 2021-02-01 장병주
	참고사항 : 이 파일은 layout 만 정의한다.
	분류순서 : 기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    ## Layout
-------------------------------------------------------------------*/
html,
body {
    width: 100%;
}

html.overHidden {
    overflow: hidden
}

body,
body .v-application {
    background: #fff;
    font-family: 'Roboto', 'Noto Sans KR', '맑은고딕', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #212121;
}

.set_inner {
    max-width: 1810px;
    padding: 0 20px;
    margin: auto;
}

.mid_inner {
    max-width: 1510px;
    padding: 0 20px;
    margin: auto;
}

.min_inner {
    max-width: 1210px;
    padding: 0 20px;
    margin: auto;
}

.item_inner {
    padding: 0 20px;
}

#container {
    background: #fff;
    clear: both;
}

#container.fix_bottom,
#footer.fix_bottom {
    padding-bottom: 76px;
}

#container.fix_bottom + #footer.fix_bottom {
    margin-top: -76px;
}

#contents.cart_page {
    padding-top: 54px;
    padding-bottom: 100px;
}

.has_filter #contents.list_page {
    padding-top: 140px;
}

/* Fixed Elem */
.fixed_elem_area {
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s
}

.fixed_elem_area.is_active {
    pointer-events: auto;
    opacity: 1;
}

/*-------------------------------------------------------------------------------
    ## Footer
-------------------------------------------------------------------------------*/
#footer {
    color: #808080;
    font-size: 1.1rem;
}

#footer .fnb_node {
    position: relative;
    float: left;
    width: 25%;
}

#footer .fnb_node + .fnb_node:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 10px;
    margin-top: -5px;
    background: #fff;
}

#footer .fnb_node .fnb_item {
    display: block;
    padding: 10px 10px;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1;
}

.foot_info_wrap .foot_info_area {
    font-size: 0;
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: 15px;
}


/*-------------------------------------------------------------------------------
    ## header
-------------------------------------------------------------------------------*/

header {
    position: relative;
    width: 100%;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
}

header ~ #container {
    padding-top: 147px;
}

header.has_banner ~ #container {
    padding-top: 199px;
}

#gnb {
    transition: all 0.2s;
    padding-top: 0;
}

.has_banner #gnb {
    padding-top: 52px;
}

header .banner_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #B49277;
    color: #fff;
    font-size: 1.6rem;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-weight: 500;
    letter-spacing: -0.01em;
}

.banner_area > span {
    vertical-align: middle;
}

.banner_area .arw {
    vertical-align: -1px;
    margin-left: 10px;
}

.banner_area .ic.ic_close_w {
    vertical-align: -6px;
}

.banner_area .btn_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
}
/*header .depth1_wrap:hover .depth2_wrap {*/
/*    display: block !important;*/
/*}*/
/*-------------------------------------------------------------------------------
    ## GNB
-------------------------------------------------------------------------------*/
.gnb_wrap {
    position: relative;
    width: 100%;
    background: #fff;
}

.gnb_inner {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #E2E2E2;
    width: 100%;
    height: 92px;
    background: #fff;
}

.gnb_inner > .set_inner {
    position: relative;
    height: 100%;
}

header .logo_area {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 110px;
}

header .logo {
    width: 73px;
    height: 100%;
    min-height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/common/logo.png');
    background-position: center center;
}

#gnb .depth1_wrap {
    display: inline-block;
    vertical-align: middle;
}


.depth1_wrap .menu {
    display: block;
    width: fit-content;
    float: left;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.01em;
}

.depth1_wrap .menu > a {
    display: block;
    padding: 0 30px;
    height: 92px;
    line-height: 92px;
}

#gnb li.is_active {
    color: #B49277;
}

#gnb li.is_active > a {
    color: #A27855;
}

#gnb .depth1_menu li.is_active > a {
    font-weight: bold
}

#gnb li:hover > a, #gnb li.hover > a {
    font-weight: 500;
}


.depth2_wrap {
    position: absolute;
    top: 92px;
    left: 0;
    width: 100%;
    height: 55px;
    background: #F8F8F8;
    transition: all 0.2s;
}


.has_banner .depth2_wrap {
    top: 144px;
}

.depth2_wrap .depth2_menu {
    width: 1640px;
    margin: 0 auto;
    position: relative;
    height: 55px;
}

.has_banner .depth2_wrap .menu::after {
    content: '';
    display: block;
    clear: both;
}

#gnb .depth2_wrap .menu {
    position: absolute;
    left: 58px;
    width: 100%;
    background: #F8F8F8;
    display: none;
}

#gnb .depth2_wrap .menu.is_active {
    display: block;
}

#gnb .depth2_wrap .menu.is_show {
    display: block;
    z-index: 1;
}

#gnb .depth3_menu {
    position: absolute;
    visibility: hidden;
    top: 55px;
    left: 50%;
    line-height: 1;
    transform: translate3d(-50%, 30px, 0);
    width: 180px;
    padding: 15px 0;
    background: #fff;
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.06);
    opacity: 0;
    transition: opacity .4s, transform .3s ease-out;
    text-align: left;
}

#gnb .depth2_menu .depth2 {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    text-align: center;
}

#gnb .depth2:hover .depth3_menu {
    visibility: visible;
    opacity: 1;
    transform: translate3d(-50%, 0px, 0);
}
#gnb .depth2 .depth3_menu a{
    opacity:0;
    transition: opacity .4s;
    transition-delay: .1s;
}
#gnb .depth2:hover .depth3_menu a{
    opacity:1;
}
#gnb .depth3_menu .depth3 {
    padding: 12px 21px;
    color: #212121;
}

#gnb .depth3_menu .depth3 a.is_active {
    color: #A27855;
}


#gnb .depth2.is_active > a > span {
    color: #A27855;
}

#gnb .depth2.is_active > a > span,
#gnb .depth2 > a.is_active > span {
    color: #A27855;
    font-weight: 500;
}


#gnb .depth2 a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#gnb .depth2 > a {
    padding: 0 20px;
}

#gnb .depth2 a span {
    position: relative;
    width: auto;
    display: inline-block;
    line-height: 1;
}

#gnb .depth2 > a > span {
    height: 55px;
    vertical-align: top;
    line-height: 55px;
}

#gnb .depth2:last-child {
    width: 140px;
    height: 36px;
    border: 1px solid #B49277;
    text-align: center;
    color: #A27855;
    float: right;
    margin-top: 9px;
    font-size: 1.4rem;
    font-weight: 500;
    background: #fff;
}

#gnb .depth2:last-child span {
    line-height: 35px;
}

#gnb .depth2:last-child a {
    padding: 0;
}

#gnb .depth2.is_active a span::after,
#gnb .depth2 > a.is_active span::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -2px;
    right: -2px;
    height: 2px;
    background: #B49277;
}
#gnb .depth2:last-child.is_active a span::after,
#gnb .depth2:last-child > a.is_active span::after{
    display: none !important;
}

#gnb .depth2.is_active .depth3 a span::after,
#gnb .depth2 > a.is_active .depth3 span::after {
    display: none;
}


header.sub_is_on .gnb_wrap::after {
    transform: translateY(-100%);
}

/*lnb*/

header .lnb {
    visibility: visible;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.04);
    opacity: 1;
    transition: .2s;
    transform: translateY(0px)
}

header.has_banner .lnb {
    top: 55px;
}

header .lnb_wrap {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 0 35px;
}

header .lnb_wrap {
    position: relative;
    display: flex;
    width: 100%;
    align-items: stretch;
}

header .lnb_menu_frame {
    position: relative;
    min-width: 170px;
    border-left: 1px solid #E2E2E2;
    padding-left: 20px;
    max-height: 380px;
    overflow: auto;
}

header .lnb_menu_frame:first-child {
    border-left: 0;
    padding-left: 0;
}

header .lnb_menu a {
    display: block;
    padding: 7px 0;
}

header .lnb_menu li.is_active {
    color: #A27855;
    font-weight: 500;
}

header .depth1 {
    display: block;
}

header .lnb .btn_close {
    position: absolute;
    right: 0;
    top: 25px;
}

/*header animation*/
header.is_down .depth2_wrap,
header.sub_is_on .depth2_wrap {
    transform: translate3d(0, -100%, 0);
}

header:hover .depth2_wrap {
    transform: translate3d(0, 0%, 0);
}


/*-------------------------------------------------------------------------------
    ##gnb utility
-------------------------------------------------------------------------------*/

.gnb_wrap .utility {
    display: inline-block;
    vertical-align: middle;
    float: right;
    height: 100%;
}

.gnb_wrap .utility li {
    display: inline-block;
    min-width: 32px;
    padding: 8px;
    box-sizing: content-box;
    vertical-align: middle;
}

header .login_btn, header .join_btn {
    font-size: 1.3rem;
}

.gnb_wrap .utility li:first-child {
    height: 92px;
    padding: 0 2px 0 10px;
    line-height: 90px;
}

.gnb_wrap .utility li a {
    width: 100%;
}

.gnb_wrap .count_area {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.gnb_wrap .count_area .num {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 17px;
    background: 16px;
    background: #B49277;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 100%;
    display: block;
}

.gnb_wrap .cart_btn .count_area .num {
    right: -5px;
}

.gnb_wrap .alarm_btn {
    position: relative;
}

.gnb_wrap .alarm_area {
    position: absolute;
    z-index: 100;
    top: 65px;
    left: 22px;
    transform: translate3d(-50%, -20px, 0);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    box-sizing: border-box;
    width: 360px;
    max-height: 340px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}

.gnb_wrap .alarm_area.is_active {
    transform: translate3d(-50%, 0px, 0);
    visibility: visible;
    opacity: 1;
}

.gnb_wrap .alarm_area .alarm_head {
    width: 100%;
    padding: 17px 24px 5px;
    background: #fff;
}

.gnb_wrap .alarm_area .alarm_head .ttl {
    font-weight: 500;
}

.gnb_wrap .alarm_area button {
    font-size: 1.3rem;
    color: #7c7c7c;
    font-weight: 500;
    margin-right: -10px;
    margin-top: -10px;
    padding: 10px;
}

.gnb_wrap .alarm_area .alarm_body {
    background: #fff;
    width: 100%;
}

.gnb_wrap .alarm_area .has_scroll_y {
    max-height: 290px;
    overflow-y: auto;
}

.gnb_wrap .alarm_area .alarm_inner {
    position: relative;
    z-index: 1;
}

.gnb_wrap .alarm_area .cnt_frame {
    padding: 10px 10px 10px 24px;
    font-size: 1.5rem;
    line-height: 1.45;
}

.gnb_wrap .alarm_area .cnt_frame strong {
    font-weight: 500;
}

.gnb_wrap .alarm_area .cnt_frame .date_area {
    margin-top: 4px;
    font-size: 1.4rem;
    color: #7C7C7C
}

.gnb_wrap .alarm_area.arrow_box::before {
    bottom: auto;
    top: -5px;
}

.gnb_wrap .alarm_area .cnt_frame .txt_wrap > a {
    display: block;
}

.gnb_wrap .alarm_area .cnt_frame .txt_area {
    padding-right: 15px;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.2rem;
}

.gnb_wrap .alarm_area .cnt_frame > div {
    vertical-align: top;
}

.gnb_wrap .utility li.full_menu_btn {
    width: 52px;
    margin-right: -14px;
    height: 92px;
    box-sizing: border-box;
    padding: 0;
}

.full_menu_btn .btn_open {
    width: 44px;
    height: 100%;
    cursor: pointer;
    padding: 10px;
}

.full_menu_btn .bar {
    display: block;
    margin-bottom: 8px;
    width: 100%;
    height: 1px;
    background: #212121;
}

.full_menu_btn:hover .bar {
    animation: fullBtn 0.4s linear;
}

.full_menu_btn .bar:nth-child(2) {
    animation-delay: 0.2s;
}

.full_menu_btn .bar:last-child {
    margin-bottom: 0;
    width: 80%;
    animation-delay: 0.4s;
}

/*-------------------------------------------------------------------------------
    ## Footer
-------------------------------------------------------------------------------*/
#footer {
    width: 100%;
    font-size: 1.4rem;
    background: #F7F7F7
}

#footer .utility_area {
    background: #fff;
    height: 55px;
    border-top: 1px solid #EDEDED;
}

#footer .notice_wrap {
    max-width: 650px;
    width: 100%;
    height: 100%;
    float: left;
}

#footer .notice_wrap h6, #footer .notice_wrap ul {
    float: left;
}

#footer .notice_wrap .btn_area {
    float: right;
}

#footer .notice_wrap h6 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 55px;
    color: #7C7C7C;
    padding-right: 30px;
}

#footer .notice_wrap .notice_ls {
    position: relative;
    width: 100%;
    max-width: 550px;
    height: 55px;
    display: inline-block;
}

.notice_ls .swiper-container {
    height: 55px;
}

#footer .notice_ls .ttl_area {
    display: inline-block;
    float: left;
    width: 85%;
    font-size: 1.5rem;
    height: 100%;
    color: #212121;
    line-height: 55px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#footer .notice_ls .date_area {
    float: right;
    line-height: 55px;
    font-size: 1.3rem;
}

#footer .notice_wrap .btn_area {
    width: 20px;
}

#footer .notice_wrap .btn_area button {
    width: 100%;
    cursor: pointer;
}

#footer .notice_wrap .btn_area button:disabled i {
    opacity: 0.3
}

#footer .notice_wrap .btn_area button:first-child {
    padding-top: 13px
}

#footer .notice_wrap .btn_area button:last-child {
    padding-bottom: 13px
}

#footer .link_wrap {
    float: right;
    width: 100%;
    max-width: 550px;
    height: 100%;
}

#footer .link_wrap > div {
    display: inline-block;
    vertical-align: middle;
}

#footer .app {
    display: inline-block;
    margin-right: 20px;
    line-height: 55px;
    font-size: 1.4rem;
    color: #7C7C7C;
}

#footer .app i {
    opacity: 0.4;
    vertical-align: -2px;
}

#footer .sns_wrap > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #F4F4F4;
    line-height: 39px;
    text-align: center;
    border-radius: 100%;
    margin-right: 6px;
}

#footer .family_site_area {
    float: right;
    width: 200px;
    height: 40px;
    line-height: 39px;
    font-size: 1.4rem;
    color: #7C7C7C;
    margin-top: 7px;
}
#footer .input_area.select .input_box i{
    transform:translateY(-65%);
}
#footer .family_site_area .place_holder{
    font-size:1.4rem;
    color:#7C7C7C;
}
#footer .family_site_area .option_ls{
    top:40px;
}
#footer .family_site_area .input_area.select{
    height:40px;
}
#footer .family_site_area .input_area.select button.select{
    height:40px;
    padding:10px 15px;
    line-height:1.1;
}
#footer .family_site_area .input_area.select .option_item{
    height:40px;
    padding:0;
}
#footer .family_site_area .input_area.select .option_item>button{
    height:40px;
    font-size:1.3rem;
    line-height:1;
}

.foot_info_wrap {
    padding: 35px 0 45px;
}

.foot_info_area {
    display: inline-block;
}

.foot_info_area .tel {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5px;

}

.foot_info_area .tel + small {
    font-size: 1.4rem;
}

.foot_info_area .cs_area {
    margin-bottom: 30px;
    color: #444444;
}

.foot_info_area .info_area {
    max-width: 600px;
}

.info_area .label_txt {
    position: relative;
    font-size: 1.4rem;
    color: #7C7C7C;
    margin-bottom: 7px;
}

.info_area .label_txt:nth-child(even) {
    padding-left: 15px;
    margin-left: 15px;
}

.info_area .label_txt:nth-child(even)::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background: #C1C1C1;
}

#footer .fnb {
    text-align: right;
    float: right;
}

#footer .fnb .fnb_item {
    display: inline-block;
    padding-left: 50px;
    vertical-align: top;
}

#footer .fnb a {
    display: block;
    width: 100%;
    color: #7C7C7C;
    margin-bottom: 12px;
}

#footer .fnb a strong {
    color: #444444;
    font-weight: 500;
}

#footer .copy_area {
    margin-top: 45px;
    padding-top: 15px;
    border-top: 1px solid #E2E2E2;
    color: #7C7C7C;
}

#footer .copy_area p {
    display: inline-block;
    vertical-align: top;
}

#footer .copy_area p:first-child {
    font-size: 1.3rem;
    float: left;
}

#footer .copy_area p:last-child {
    font-size: 1.2rem;
    float: right;
}

@keyframes fullBtn {
    0% {
        width: 100%;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

#contents {
    padding-bottom: 100px;
}

.page_head {
    padding-top: 50px;
}

/*-------------------------------------------------------------------------------
    ## sub_header
-------------------------------------------------------------------------------*/
.visual_sec {
    height: 200vh;
}

.sub_header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 201;
    background: #fff;
    width: 100%;
    height: 92px;
    transform: translate3d(0, calc(-100% - 6px), 0);
    transition: transform 0.2s;
}

header:hover .sub_header {
    visibility: hidden;
}

.sub_header.is_on {
    transform: translate3d(0, 0, 0)
}

.progress_bar {
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    z-index: 1;
}

.progress_bar span {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 6px;
    background: #E2E2E2;
}

.sub_header span.current {
    width: 75%;
    background: #B49277
}

.sub_header .sub_inner {
    position: relative;
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;
}

.sub_header .logo_area {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
}

.sub_header h3 {
    font-size: 2.3rem;
    text-align: center;
    line-height: 94px;
    font-weight: normal;
}

/*-------------------------------------------------------------------------------
    ## footer snb
-------------------------------------------------------------------------------*/
#footer {
    position: relative;
}

#footer .snb {
    position: absolute;
    right: 30px;
    top: -210px;
    z-index: 50;
    padding-top: 0;
    min-height: 210px;
    min-width: 0;
}

#footer .snb .btn_open, #footer .snb .btn_center, #footer .snb .btn_close, #footer .snb .btn_top {
    width: 54px;
    height: 54px;
    background-size: cover;
    border-radius: 100%;
    margin-bottom: 8px;
    text-align: center;
}

#footer .snb .btn_wrap {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#footer .snb .btn_wrap.bottom {
    position: static;
}

#footer .snb .top_btn_area button {
    border: 1px solid #D0D0D0;
}

#footer .snb .center_btn_area button {
    background: #F0F0F0;
}

#footer .ic_center {
    margin-left: 3px;
}

#footer .arw_mid_top {
    margin-top: -4px;
}

#footer .collect_item_wrap {
    position: relative;
    width: 54px;
    height: 54px;
    margin-bottom: 8px
}

#footer .collect_item_wrap .dim {
    content: '';
    position: absolute;
    right: 0;
    bottom: -200px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#footer .collect_item_wrap .control_btn button {
    position: absolute;
    left: 0;
    top: 0;
}

#footer .collect_item_wrap .btn_close {
    background: #212121;
}

#footer .collect_item_group .collect_item button {
    border-radius: 100%;
    margin-bottom: 4px;
    text-align: center;
}

/*------------------------------------------------------------
    ## SNB
------------------------------------------------------------*/

.has_snb .divider_snb {
    float: left;
}

.snb_sec .ttl_area.page_ttl_area {
    margin-bottom: 20px;
}

.has_snb .divider_cnt {
    float: right;
    width: 100%;
    max-width: 1280px;
}

.snb_wrap {
    max-width: 150px;
}

.snb_wrap a {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.snb_wrap .snb_node {
    position: relative;
}

.snb_node .fold_btn {
    position: absolute;
    right: 0;
    opacity: .5;
}

.snb {
    padding-top: 55px;
    min-width: 150px;
}

.snb_node .fold_btn {
    top: -2px;
}

.snb .dep2_list {
    margin-bottom: 30px;
}

.snb .dep2_list a {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.snb .dep3_list .dep_list {
    padding-left: 15px;
}

.snb .dep3_list a {
    font-size: 1.5rem;
}

.snb .dep4_list a {
    color: #000;
    opacity: .5;
    font-size: 1.4rem;
}

.snb .current_cate > a {
    margin-bottom: 10px;
}

.snb .current_cate .dep2_list {
    display: block !important;
}

.snb .current_cate > a.is_active,
.snb .dep2_list > .is_active,
.snb .nuxt-link-exact-active,
.snb .dep2_list > .snb_node > .is_active {
    color: #A27855;
}

/*.snb .is_active ~ .fold_btn,*/
.snb .fold_btn.is_active {
    transform: rotate(180deg);
}

.snb .is_active ~ .dep_list {
    display: block !important;
}

/*.page_head + .page_body {*/
/*  padding-top: 30px;*/
/*}*/
.snb_wrap .snb_node {
    position: relative;
}

.snb_node .fold_btn {
    position: absolute;
    right: 0;
    opacity: .5;
}

.snb_wrap .snb_ttl {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.snb_wrap .snb_ttl + .dep2_list > .snb_node > a {
    font-size: 1.8rem;
    font-weight: 500;
}

/*-------------------------------------------------------------------------------
    ## allmenu_wrap
-------------------------------------------------------------------------------*/
.allmenu_wrap {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, -50px, 0);

}

.allmenu_wrap.is_show {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    transition: all 0.5s cubic-bezier(0.85, 0.15, 0.45, 1);
}

.allmenu_wrap .allmenu {
    width: 100%;
    height: 100%;
    background: #fff;
}

.allmenu_wrap .menu_head {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1770px;
}

.menu_head .btn_area {
    width: 1px;
    text-align: right;
}

.menu_head .btn_area button {
    width: 50px;
    height: 70px;
    margin-right: -10px;
    padding: 10px;
    box-sizing: content-box;
}

.allmenu_wrap .menu_body {
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

.allmenu_wrap .depth3 > a.is_active {
    color: #A27855
}

.allmenu_wrap .menu_body > .min_inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.allmenu_ls {
    display: flex;
    width: 100%;
    margin-right: -40px;
    height: 70%;
    min-height: 670px;
}

.allmenu_ls .menu_node {
    min-width: 220px;
    padding-right: 40px;
}

.allmenu_ls .menu_node li {
    width: 100%;
    max-width: 220px;
}

.allmenu_wrap .depth1_ttl {
    font-size: 2.2rem;
    font-weight: 500;
    padding-bottom: 25px;
    border-bottom: 2px solid #E2E2E2;
}

.allmenu_ls .menu_node .menu {
    padding-top: 25px;
}

.allmenu_ls .menu .depth2 {
    font-size: 1.7rem;
    font-weight: 500;
}

.allmenu_ls .menu .depth2 {
    margin-bottom: 20px;
}

.allmenu_ls .menu .depth3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 13px;
    color: #444;
}

.allmenu_ls .menu_node:nth-child(3) {
    width: 40%;
}

.allmenu_ls .menu_node:nth-child(3) .menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.allmenu_wrap .menu_foot {
    background: #F7F7F7;
    height: 100px;
    text-align: center;
}

.allmenu_wrap .menu_foot .side_menu_ls {
    float: left;
    margin-left: -20px;
}

.allmenu_wrap .menu_foot .family_site_ls {
    float: right;
    margin-right: -20px;
}

.allmenu_wrap .menu_foot .min_inner {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
}

.allmenu_wrap .menu_foot::after {
    content: '';
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle;
}

.allmenu_wrap .menu_foot .side_menu_item,
.allmenu_wrap .menu_foot .family_site_item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    height: 18px;
    line-height: 18px;
    border-left: 1px solid #D0D0D0;
    font-size: 1.5rem;
}

.allmenu_wrap .menu_foot a:first-child {
    border-left: 0;
}